@import "normalize.css";
@import "./modules/_container";

body {
    
}

a, a:active {
    text-decoration: none;
     color: inherit;
}

.nav {
    float: right;
}

.nav li {
    display: inline-block;
    margin-right: 1.5em;
}

.users-link {
    float: right;
}