.header {
  color: $mainBlue;

  &__container {
    @define-mixin atLaptopLarge {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__mobile-nav-trigger {
    @mixin atLaptop {
      display: none;
    }
  }

  &__logo {
    @define-mixin atLaptopLarge {
      transform: scale(0.7);
    }
  }

  &__nav {
    display: none;

    @define-mixin atLaptopLarge {
      display: flex;
      justify-content: space-between;

      & > ul {
        display: flex;
        align-items: center;

        & > li {
          margin-right: 1em;
        }
      }
    }
  }

  &__users-link {
    @define-mixin atLaptopLarge {
      width: 14rem;
    }
  }
}
